<!DOCTYPE html>
<html>
    <head>
        <title>
            Register
        </title>
    </head>


    <body>
        <h1>Register</h1>
        {% if message %}
        {{ message }}
        {% endif %}<br>
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}

            <input type ="text" name="username" placeholder="username"><br><br>
            <input type = "password" name="password" placeholder="password"><br><br>
            <input type ="submit" value = "Register" style="background-color: aqua;"><br><br>

        </form>
        <a href="{% url 'login_view' %}">Alredy have an Account??</a>
    </body>



</html>